.contenedorActivarReview{
  margin-top: 15vh;
  margin-left: 0vh;
  width: 205vh;
}

@media only screen and (max-width:600px){
  .contenedorActivarReview{
    margin-top: 15vh;
    margin-left: -3vh;
    width: 60vh;
  }

}
