
.rotulo{
  margin-top: 55px;
  width: 250px;
  height: 250px;
}
.dia{
  background-color: #ff9714;
  color:#f2ee96;
  margin-top: 0px;
  clear: both;
  text-align: center;
  width: 250px;
  cursor: pointer;
}
.bloque{
  float: left;
}
.link{
  color: black;
  text-decoration: none;
}
.contenido{
  background-image: linear-gradient(to right, #5678B7 , #263160);
  width: 89vh;
  color: white;
  text-align: left;
  margin-top: 0;
  margin-left: 108vh;
}
.contenido > h3{
  margin-left: 25px;
}
.tabla{
  margin-top: 0px;
  background-color: #E9A043;
}
.divTabla{
  clear: both;
  height: auto;
  width: auto;
}
.header{
  background-color: #E5E7E8;
  text-align: center;
}
.cuerpo{
  text-align: center;
}
.rotate {
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  width: 1.5em;
}
.rotate div {
  margin-top: 50px;
  -moz-transform: rotate(-90.0deg);  /* FF3.5+ */
 -o-transform: rotate(-90.0deg);  /* Opera 10.5 */
  -webkit-transform: rotate(-90.0deg);  /* Saf3.1+, Chrome */
   filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */

}
.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #F2EE96;
 }

 @media only screen and (max-width: 600px){
   .rotulo{
     margin-left: 75px;
     margin-top: 70px;
     height: 150px;
     width: 150px;
   }
   .bloque{
     float: left;
   }
   .contenido{
     background-image: linear-gradient(to right, #5678B7 , #263160);
     font-size: 20px;
     width: 62vh;
     color: white;
     text-align: left;
     margin-top: 0;
     margin-left: -30px;
   }
   .contenido > h3{
     margin-left: 10px;
   }
   .wrapper{
     margin-left: -45px;
     height: 100%;
     width: 64vh;
     overflow: auto;
   }
   .dia{
     background-color: #ff9714;
     color:#f2ee96;
     margin-top: 0px;
     margin-left: 50px;
     clear: both;
     text-align: center;
     width: 250px;
     cursor: pointer;
   }
 }
