.contenedorAsistenciaA{
  margin-top: 15vh;
  width: 92vw;
}
.link{
  color: black;
  text-decoration: none;
}
.botonMarcaCheck:hover{
  cursor: pointer;
  color: green;
}
.contenido{
  background-image: linear-gradient(to right, #5678B7 , #263160);
  width: 89vh;
  color: white;
  text-align: left;
  margin-top: 0;
  margin-left: 108vh;
}
.contenido > h3{
  margin-left: 25px;
}
.tablaA{
  margin-top: 0px;
  width: 209vh;
  height: auto;
}
.divTablaA{
  clear: both;
  height: auto;
  width: auto;
}
.header{
  background-color: #E5E7E8;
  text-align: center;
}
.cuerpo{
  text-align: center;
}

 @media only screen and (max-width: 600px){
   .contenido{
     background-image: linear-gradient(to right, #5678B7 , #263160);
     font-size: 20px;
     width: 250px;
     color: white;
     text-align: left;
     margin-top: 0;
     margin-left: -30px;
   }
   .wrapper{
     margin-left: -45px;
     height: 100%;
     width: 250px;
     overflow: auto;
   }
   .header{
     background-color: #E5E7E8;
     text-align: center;
   }
   .cuerpo{
     text-align: center;
   }
   .contenedorAsistenciaA{
     margin-top: 15px;
     margin-left: -15px;
     width: 85vw;
   }
 }
