.link{
  color: blue;
}
.link:hover{
  color: 	#ADD8E6;
  text-decoration: none;
}
.bg{
    background-image: linear-gradient(#5678B7,#263160);
    height: 100vh;
    width: 98.79vw;
    margin-left: -0;
    margin-top: -0;
}
body{
  width: max-content;
  height: max-content;
  font-family: 'Oxygen', sans-serif;
}
.recuperar{
  margin-top: 0px;
  margin-right: 0px;
}
.login{
  margin-left: 110px;
  padding-left: 40px;
  padding-right: 40px;
}
.irregistrar{
  margin-left: -150px;
  padding-left: 30px;
  padding-right: 30px;
  float: left;
}
.container{
  height: 100%;
  align-content: center;
  margin-left: 18px;
}
.card{
top: 0px;
height: auto;
margin-top: auto;
margin-bottom: auto;
width: auto;
background-color: rgba(0,0,0,0.5) !important;
}

.aviso{
color: red;
font-size: 20px;
}

.input-group-prepend span{
width: 50px;
background-color: #a4a4fc;
align-content: center;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
font-weight: 900;
color: white;
}

.links a{
margin-left: 4px;
}
@media only screen and (max-width: 600px){
  .login{
    margin-left: 20px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .irregistrar{
    margin-left: -150px;
    padding-left: 30px;
    padding-right: 30px;
    float: left;
  }
  .container{
    height: 100%;
    align-content: center;
    margin-left: 0px;
  }
  .bg{
      background-image: linear-gradient(#5678B7,#263160);
      height: 100vh;
      width: 95.99vw;
  }
}
