.link{
  color: blue;
}
.link:hover{
  color: 	#ADD8E6;
  text-decoration: none;
}
.bg{
    background-image: linear-gradient(#5678B7,#263160);
    height: 120vh;
}
body{
  width: 100%;
  height: 100%;
  font-family: 'Oxygen', sans-serif;
  overflow: hidden;
}
.recuperar{
  margin-top: 40px;
  margin-right: 35px;
}
.container{
height: 100%;
align-content: center;
}

.card{
top: 10px;
height: auto;
margin-top: auto;
margin-bottom: auto;
width: auto;
background-color: rgba(0,0,0,0.5) !important;
}

.aviso{
color: red;
font-size: 30px;
}

.input-group-prepend span{
width: 50px;
background-color: #a4a4fc;
align-content: center;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
font-weight: 900;
color: white;
}

.links a{
margin-left: 4px;
}
@media only screen and (max-width: 600px){
  .recuperar{
    font-size: 13px;
    margin-top: -40px;
    margin-right: 55px;
    width: 150px;
  }
  .irregistrar{
    margin-top: 0px;
  }
  .lbregistrar{
    margin-top: -25px;
  }
}
