*{
    margin: 0;
    padding: 0;
}

.Ancho{

width: 100%;
margin-left: -0%;
margin: 0px;
padding: 0px;
overflow: auto;
display:inline-block;
align-content: center;
}
.txtTitulo{
  color: white;
  padding-left: 5%;
  padding-top: 5%;
  padding-right: 20%;
}
#cuerpo{
   width: 95%;
   height: 90%;
   overflow: hidden;
   font-size: 1em;
   margin-left: 2%;
}
.texto{
  font-size: 150%;
  color: white;
}
.fecha{
  font-size: 24px;
  height: 150px;
  line-height: 150px;
  text-align: center;
}

.fechaSpan{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.boton{
  font-size: 25px;
  width: 30%;
<<<<<<< HEAD
  margin-top: 0%;
=======
  margin-top: 20%;
>>>>>>> e2e7ba9af33173bfae5e7656c25e46ad7c6a21f8
  margin-right: 5%;
}
