/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html, body{
  margin:0;
  padding:0;
  height: 100%;
  font-family: 'Numans', sans-serif;
}
body{
  height: 100%;
  background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: contain;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
}

.cardR{
  height: 170vh;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  background-color: rgba(0,0,0,0.5) !important;
}

#img-upload{
    width: 100%;
}
.social_icon span:hover{
color: white;
cursor: pointer;
}
.inline{
  display: inline-block;
  margin-left: 10%;
}
.radios{
  margin-left: 30%;
}
.inline2{
  display: inline-block;
    width: 47%;
    margin: 1em;
}
.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}
.login_btn2{
color: black;
background-color: #FFC312;
width: 100px;
margin-right: 50px;
}
.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}
.preview{
  height: 200px;
  margin-bottom: 80px;
  margin-left: 40%;
}

@media screen and (max-width: 1100px){
  .inline2{
    margin-left: 2px;
    width: 48%;
  }
  .cardR{
    height: 250vh;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    background-color: rgba(0,0,0,0.5) !important;
  }
}
@media screen and (max-width: 992px){

  .inline2{
    margin-left: -6px;
    width: 100%;
  }
  .login_btn2{
    color: black;
    background-color: #FFC312;
    width: 100px;
    margin-right: 90px;
  }
  .preview{
    height: 200px;
    margin-bottom: 20px;
    margin-left: 30%;
  }
  .cardR{
    height: 220vh;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    background-color: rgba(0,0,0,0.5) !important;
  }
  .radios{
    margin-left: 20%;
  }
}

@media screen and (max-width: 600px){

  .inline2{
    margin-left: -6px;
    width: 100%;
  }

  .preview{
    height: 200px;
    margin-bottom: 20px;
    margin-left: 0%;
  }
  .botones{
    margin-right: 0%;
  }
  .cardR{
    height: 220vh;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    background-color: rgba(0,0,0,0.5) !important;
  }
  .radios{
    margin-left: 5%;
  }
}
