* {
  padding: 0;
  margin: 0;
}
.w{
  color: white;
}
.w:hover{
  color: #E9A043;
}
.Items{
  margin-left: 43%;
}
.panel{
  top:55px;
  left:-15px;
  width: 200px;
}
.options{
    color:black;
    background-color: #E9A043;
}
.options:hover{
    color:black;
    text-decoration: none;
    background-color: #F0EE96;
}
.barra{
  background-color: #5678B7;
  color: white;
}
.subir{
  cursor:pointer;
  color:white;
  margin-left: 80vh;
  outline:none;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
}
@media only screen and (max-width: 600px){
  .Items{
    margin-left: 7%;
  }
  .subir{
    cursor:pointer;
    color:white;
    margin-left: 0;
    outline:none;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
  }
}
