* {
  padding: 0;
  margin: 0;
}
.d
{
    margin-left: 0px;
    width: 100%;
    background-color: #333;

}
.w{
  color: white;
}
.w:hover{
  color: blue;
}
.Items{
  margin-left: 45%;
}
.arrow{
  font-size: 25px;
  color:white;
  margin-bottom: 0px;
  margin-left: 30%;
  cursor: pointer;
}
.a
{
    padding-right: 4.3%;
    z-index: 1;
    padding-right: 94px;
}
.b
{
    margin-top: 3.7%;
    z-index: 1;
    padding-right: 56px;
}
.c
{
    margin-top: 8.5%;
    z-index: 1;
}
.outer{
    position:static;
}
.list-group-item {
    border-radius: 0;
    background-color: #333;
    color: #ccc;
    border-left: 0;
    border-right: 0;
    border-color: #2c2c2c;
    white-space: nowrap;
    text-decoration: none;
    position: fixed;
    overflow-x: hidden;

    top: 9%;
    left: 0;

}

/* highlight active menu */
 .list-group-item:not(.collapsed) {
    background-color: #222;
}

/* closed state */
 .list-group .list-group-item[aria-expanded="false"]::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 0px;
}

/* open state */
 .list-group .list-group-item[aria-expanded="true"] {
  background-color: #222;
}
 .list-group .list-group-item[aria-expanded="true"]::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 5px;
}

/* level 1*/
.list-group .collapse .list-group-item  {
  padding-left: 0px;
}

/* level 2*/
 .list-group .collapse > .collapse .list-group-item {
  padding-left: 0px;
}

/* level 3*/
 .list-group .collapse > .collapse > .collapse .list-group-item {
  padding-left: 0px;
}

@media (max-width:48em) {


    .Items{
      margin-left: 25px;
    }
    .a
    {
        z-index: 1;
    }
    .b
    {
        margin-top: 50px;
        z-index: 1;
    }
    .c
    {
        margin-top: 100px;
        z-index: 1;
    }
    .arrow{
      font-size: 15px;
      color:white;
      margin-bottom: 0px;
      margin-left: 0%;
      cursor: pointer;
    }
}

.link {
  cursor: pointer;
}
.link:hover{
  color: blue;
}
